:root {
    --bigger-text: 120%;
}
button {
    display: block;
}

div.total div.total-number {
    display: inline-block;
    padding: 4px;
}

p.word {
    display: inline;
}

p.reveal {
    display: inline;
}

button.next {
    display: inline;
}

#test {
    font-size: var(--bigger-text)
}

div.total-number {
    font-size: var(--bigger-text);
}
